<!doctype html>
<title>{% block title %}{% endblock %} - Flask</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Items</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <ul>
  {% for item in items %}
    <li>
        <div><strong>Name:</strong> {{ item['name'] }}</div>
        <div><strong>Description:</strong> {{ item['description'] }}</div>
        <div>&nbsp;</div>
    </li>
  {% endfor %}
  </ul>
</section>
